<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">

</head>
<div class="sidebar-container">
  <div class="sidebar-logo">

    <i style="padding-right: 5pt; margin-left: 0;" class="fa fa-user-circle fa-1x"></i>  Admin

  </div>
  <ul class="sidebar-navigation">
    <li>
      <a>
        Felhasználók
      </a>
    </li>
    <li>
      <a>
        Képek
      </a>
    </li>

    <li class="sidebar-logout">
      <a>
        Fórum
      </a>
    </li>
    <li class="sidebar-logout">
      <a>
        Kategória kezelő
      </a>
    </li>
    <li class="sidebar-logout">
      <a>
        Moderáció
      </a>
    </li>
    <li class="sidebar-logout">
      <a>
        Pályázat elfogadása
      </a>
    </li>
  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->

    <div class="jumbotron">


    </div>

    <div class="jumbotron">
      <h1>Felhasználók</h1>



          </div>
        </div>

      </div>

    </div>


  </div>
</div>

