<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<script>
  function felhasznalomegjelenit() {
    var x = document.getElementById("felhasznalo");
    if (x.style.display === "none") {
      x.style.display = "block";
      document.getElementById("kep").style.display="none";
      document.getElementById("forum").style.display = "none";
      document.getElementById("kategoria").style.display = "none";
      document.getElementById("moderacio").style.display = "none";
      document.getElementById("palyazat").style.display = "none";
    }
  }
    function kepmegjelenit() {
      var y = document.getElementById("kep");
      if (y.style.display === "none") {
        y.style.display = "block";
        document.getElementById("felhasznalo").style.display = "none";
        document.getElementById("forum").style.display = "none";
        document.getElementById("kategoria").style.display = "none";
        document.getElementById("moderacio").style.display = "none";
        document.getElementById("palyazat").style.display = "none";

      }
    }
      function forummegjelenit() {
        var y = document.getElementById("forum");
        if (y.style.display === "none") {
          y.style.display = "block";
          document.getElementById("felhasznalo").style.display = "none";
          document.getElementById("kep").style.display = "none";
          document.getElementById("kategoria").style.display = "none";
          document.getElementById("kategoria").style.display = "none";
          document.getElementById("moderacio").style.display = "none";
          document.getElementById("palyazat").style.display = "none";
        }
      }

  function kategoriamegjelenit() {
    var y = document.getElementById("kategoria");
    if (y.style.display === "none") {
      y.style.display = "block";
      document.getElementById("felhasznalo").style.display = "none";
      document.getElementById("kep").style.display = "none";
      document.getElementById("forum").style.display = "none";
      document.getElementById("moderacio").style.display = "none";
      document.getElementById("palyazat").style.display = "none";
    }
  }
  function moderaciomegjelenit() {
    var y = document.getElementById("moderacio");
    if (y.style.display === "none") {
      y.style.display = "block";
      document.getElementById("felhasznalo").style.display = "none";
      document.getElementById("kep").style.display = "none";
      document.getElementById("forum").style.display = "none";
      document.getElementById("kategoria").style.display = "none";
      document.getElementById("palyazat").style.display = "none";
    }
  }
  function palyazatmegjelenit() {
    var y = document.getElementById("palyazat");
    if (y.style.display === "none") {
      y.style.display = "block";
      document.getElementById("felhasznalo").style.display = "none";
      document.getElementById("kep").style.display = "none";
      document.getElementById("forum").style.display = "none";
      document.getElementById("kategoria").style.display = "none";
      document.getElementById("moderacio").style.display = "none";
    }
  }

</script>
<div class="sidebar-container">
  <div class="sidebar-logo">

    <i style="padding-right: 5pt; margin-left: 0;" class="fa fa-user-circle fa-1x"></i>  Admin

  </div>
  <ul class="sidebar-navigation">
    <li>
      <a onclick="felhasznalomegjelenit()">
        Felhasználók
      </a>
    </li>
    <li>
      <a onclick="kepmegjelenit()">

        <div th:each="kep:${kepek}">
          <div class="modal fade" th:id="'asd'+${kep.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 th:text="${kep.getFelhasznalo().getEmail()==#authentication.getPrincipal().getUsername()} ? 'Kép kitörlése' : 'Kép jelentése'"
                      class="modal-title" id="exampleModalLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  <form th:if="${kep.getFelhasznalo().getEmail()!=#authentication.getPrincipal().getUsername()}">
                    <div class="form-group row">
                      <label for="select" class="col-3 col-form-label">Report oka:</label>
                      <div class="col-9">
                        <select id="select" name="select" class="custom-select" required="required">
                          <option value="rabbit">Teszt</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="textarea" class="col-3 col-form-label">Egyéni indoklás:</label>
                      <div class="col-9">
                                <textarea id="textarea" name="textarea" cols="40" rows="5"
                                          class="form-control"></textarea>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="offset-3 col-9">
                        <button name="submit" type="submit" class="btn btn-primary">Elküld</button>
                      </div>
                    </div>
                  </form>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button th:if="${kep.getFelhasznalo().getEmail()==#authentication.getPrincipal().getUsername()}"
                          type="button" class="btn btn-danger"
                  ><a th:href="@{/delete/{id}(id=${kep.getId()})}">Kitörlöm</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>




      </a>
    </li>

    <li class="sidebar-logout">
      <a onclick="forummegjelenit()">
        Fórum
      </a>
    </li>
    <li class="sidebar-logout">
      <a onclick="kategoriamegjelenit()">
        Kategória kezelő
      </a>
    </li>
    <li class="sidebar-logout">
      <a onclick="moderaciomegjelenit()">
        Moderáció
      </a>
    </li>
    <li class="sidebar-logout">
      <a onclick="palyazatmegjelenit()">
        Pályázat elfogadása
      </a>
    </li>

<li class="sidebar-logout">
    <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
      <button class="btn btn-outline-danger my-2 my-sm-0 btn-sm" sec:authorize="isAuthenticated()"
              type="submit">Kijelentkezés
      </button></form>
</li>

  </ul>
</div>

<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <div style="display: none" id="felhasznalo">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Felhasználónév</th>
          <th scope="col">Vezetéknév</th>
          <th scope="col">Keresztnév</th>
          <th scope="col">Email</th>
          <th scope="col">Módosítás</th>
          <th scope="col">Törlés</th>

        </tr>
        </thead>
        <tbody>
        <tr style="vertical-align: middle;">
          <th scope="row">1</th>
          <td>{felhasznalo.Username}</td>
          <td>{felhasznalo.Vezetéknév}</td>
          <td>{felhasznalo.Keresztnév}</td>
          <td>{felhasznalo.Email}</td>
          <td>
            <button type="button" class="btn btn-outline-dark">Módosítás</button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger">Törlés</button>
          </td>

        </tr>
        <tr style="vertical-align: middle;">
          <th scope="row">2</th>
          <td>{felhasznalo.Username}</td>
          <td>{felhasznalo.Vezetéknév}</td>
          <td>{felhasznalo.Keresztnév}</td>
          <td>{felhasznalo.Email}</td>
          <td>
            <button type="button" class="btn btn-outline-dark">Módosítás</button>
          </td>
          <td>
            <button type="button" class="btn btn-outline-danger">Törlés</button>
          </td>

        </tr>
        </tbody>
      </table>



    </div>

    <div style="display: none" id="kep">
    <p>kep</p>

    </div>

    <div style="display: none" id="kategoria">
      <p>kategoria</p>

    </div>

    <div style="display: none" id="forum">
      <p>forum</p>

    </div>

    <div style="display: none" id="moderacio">
      <p>moderacio</p>

    </div>

    <div style="display: none" id="palyazat">
      <p>palyazat</p>

    </div>

  </div>

      </div>
</body>
