<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>

<form action="#"
      method="post"
      th:action="@{/upload/}"
      th:object="${kep}"
      enctype="multipart/form-data">


    <div class="form-group">
        <label>Fotó (min. 6db)</label>
        <input type="file" name="image" accept="image/png, image/jpeg"/>
    </div>

    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('kategoria')}? 'has-error':''">
        <label for="kategoria">kategoria</label>
        <select class="form-control" id="kategoria" th:field="*{kategoria}">
            <option selected value="">Válassz</option>
            <option value="1">TERMESZET_FOTOK</option>
            <option value="2">TERMESZET_FOTOK2</option>
        </select>

        <p class="error-message"
           th:each="error: ${#fields.errors('kategoria')}"
           th:text="${error}">Validation error</p>
    </div>
    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('kategoria')}? 'has-error':''">
        <label for="varos">Varos</label>

        <input class="form-control" id="varos" placeholder="Varos" th:field="*{varos.megnevezes}" type="text">
        <p class="error-message"
           th:each="error: ${#fields.errors('varos.megnevezes')}"
           th:text="${error}">Validation error</p>
    </div>


    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('kategoria')}? 'has-error':''">
        <label for="megye">megye</label>

        <input class="form-control" id="megye" placeholder="Megye" th:field="*{varos.megye.megnevezes}" type="text">
        <p class="error-message"
           th:each="error: ${#fields.errors('varos.megye.megnevezes')}"
           th:text="${error}">Validation error</p>
    </div>


    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('kategoria')}? 'has-error':''">
        <label for="orszag">kategoria</label>

        <input class="form-control" id="orszag" placeholder="orszag" th:field="*{varos.megye.orszag.megnevezes}" type="text">
        <p class="error-message"
           th:each="error: ${#fields.errors('varos.megye.orszag.megnevezes')}"
           th:text="${error}">Validation error</p>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('leiras')}? 'has-error':''">
            <label for="leiras">leiras</label>
            <input class="form-control" id="leiras" placeholder="Leiras" th:field="*{leiras}" type="text">
            <p class="error-message"
               th:each="error: ${#fields.errors('leiras')}"
               th:text="${error}">Validation error</p>
        </div>
    </div>


    <button class="btn btn-primary" type="submit">Upload</button>
</form>

</body>
</html>