<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<body>
<header th:insert="fragments.html :: nav"></header>

<form action="#"
      method="post"
      th:action="@{/upload/}"
      th:object="${kep}"
      enctype="multipart/form-data">


    <div class="form-group">
        <label>Tölts fel 1 képet!</label>
        <input type="file" name="image" accept="image/png, image/jpeg"/>
    </div>

    <div class="form-group col-md-4" th:classappend="${#fields.hasErrors('kategoria')}? 'has-error':''">
        <label for="kategoria">kategoria</label>
        <select class="form-control" id="kategoria" th:field="*{kategoria}">
            <option selected value="">Válassz</option>

            <option th:each="i : ${kategoriank}" th:value="${i.getId()}" th:text="${i.getLeiras()}">
            </option>
        </select>

        <p class="error-message"
           th:each="error: ${#fields.errors('kategoria')}"
           th:text="${error}">Validation error</p>
    </div>

    <div th:insert="fragments.html :: varos"></div>


    <div class="form-row">
        <div class="form-group col-md-6" th:classappend="${#fields.hasErrors('leiras')}? 'has-error':''">
            <label for="leiras">leiras</label>
            <input class="form-control" id="leiras" placeholder="Leiras" th:field="*{leiras}" type="text">
            <p class="error-message"
               th:each="error: ${#fields.errors('leiras')}"
               th:text="${error}">Validation error</p>
        </div>
    </div>


    <button class="btn btn-primary" type="submit">Upload</button>
</form>

<!--
                <form>
                    <div class="form-group row">
                        <label for="feltoltes" class="col-4 col-form-label">Fájl választó:</label>
                        <div class="col-8">
                            <input id="feltoltes" type="file" name="image" accept="image/png, image/jpeg"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="kategoriaValaszto" class="col-4 col-form-label">Kategória választó:</label>
                        <div class="col-8">
                            <select id="kategoriaValaszto" name="kategoriaValaszto" class="custom-select" required="required">
                                <option value="kategoriaid">idejonakategoria</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="orszagValaszto" class="col-4 col-form-label">Ország:</label>
                        <div class="col-8">
                            <select id="orszagValaszto" name="orszagValaszto" class="custom-select" required="required">
                                <option value="orszagid">idejonazorszag</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="megyeValaszto" class="col-4 col-form-label">Megye</label>
                        <div class="col-8">
                            <select id="megyeValaszto" name="megyeValaszto" class="custom-select" required="required">
                                <option value="megyeid">idejonamegye</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="varosValaszto" class="col-4 col-form-label">Város:</label>
                        <div class="col-8">
                            <select id="varosValaszto" name="varosValaszto" required="required" class="custom-select">
                                <option value="varosid">idejonavaros</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="leirasDolog">Leírás</label>
                        <div class="col-8">
                            <input id="leirasDolog" name="leirasDolog" placeholder="Írd be miről szól a kép..." type="text" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary">Feltölt</button>
                        </div>
                    </div>
                </form>

-->




</body>
</html>
