<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>


<button type="button" class="btn btn-primary"><a th:href="@{/nemTrivialis1}">1</a></button>ez ketszer van, adott kategoriaban hanykep
<button type="button" class="btn btn-primary"><a th:href="@{/nemTrivialis2}">1</a></button> group by
<button type="button" class="btn btn-primary"><a th:href="@{/varosokarcai}">1</a></button>
<button type="button" class="btn btn-primary"><a th:href="@{/nemTrivialis4}">1</a></button>
<button type="button" class="btn btn-primary"><a th:href="@{/nemTrivialis5}">1</a></button> group by
<button type="button" class="btn btn-primary"><a th:href="@{/nemTrivialis6}">1</a></button> group by
<button type="button" class="btn btn-primary"><a th:href="@{/nemTrivialis7}">1</a></button> group by
</body>
</html>