<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"/>

<body>
<!--
<div class="card mx-auto" style="width: 80rem;margin-bottom: 42px ">
    <div class="card-header">
        <div style="padding: 0px 1px 15px 0px" >
            <p style="display: inline" th:text="${'@'+bejegyzes.getFelhasznalo().getEmail()}"></p>
        </div>
        <div style="background-color:yellow; border-radius:5px;vertical-align: baseline;display: inline-block;color:black;padding: 2px 7px;"><b th:text="${bejegyzes.getKategoria().getLeiras()}"></b></div>
    </div>
    <img class="card-img-top" th:src="@{/kep/{id}(id=${bejegyzes.getId()})}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">[Kép címe]</h5>
        <p class="card-text" >[Leírás a képről max 200 karakterben!]</p>

        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="#" class="btn btn-primary btn-primary disabled shadow-none" th:text="${bejegyzes.getErtekeles().getErtekeles()}"></a>
            <a href="#" class="btn btn-outline-primary disabled shadow-none"><i class="fa fa-star"></i></a>
        </div>
    </div>
</div>-->
<p th:text="${'@'+bejegyzes.getFelhasznalo().getFelhasznaloNev()}"></p>
<div class="text-center">
    <img style="filter: drop-shadow(1px 0px 3px #333);
            max-height: 40vh;
            max-width: 60vw;
            margin-top: 5vh;"
         th:src="@{/kep/{id}(id=${bejegyzes.getId()})}" class="rounded">
</div>

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
            <div class="coment-bottom bg-white p-2 px-4">
                <form action="#"
                      method="post"
                      th:action="@{/bejegyzes/{id}(id=${bejegyzes.getId()})}"
                      th:object="${hozzaszolas}"
                      th:if="${(param.hozzaszolasid == null) || (param.hozzaszolasfelhasznalo == null)}"
                >
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <input type="text" class="form-control mr-3" placeholder="Add comment"
                               th:field="*{hozzaszolasSzoveg}">
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </div>
                </form>
                <form action="#"
                      method="post"
                      th:action="@{/bejegyzes/{id}(id=${bejegyzes.getId()},hozzaszolasid=${param.hozzaszolasid})}"
                      th:object="${hozzaszolas}"
                      th:if="${(param.hozzaszolasid != null) && (param.hozzaszolasfelhasznalo != null)}"
                >
                    <div th:if="param.hozzaszolasfelhasznalo!=null">
                        <div th:text="'Válaszolás ' + ${param.hozzaszolasfelhasznalo} + '-nak'"></div>
                    </div>
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">

                        <input type="text" class="form-control mr-3" placeholder="Add comment"
                               th:placeholder="'Válaszolás ' + ${param.hozzaszolasfelhasznalo} + '-nak'"
                               th:field="*{hozzaszolasSzoveg}">
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </div>
                </form>





                <div th:each="hozzaszolas: ${bejegyzes.getForumHozzaszolasList()}">
                    <div class="commented-section mt-2">
                        <div class="d-flex flex-row align-items-center commented-user">
                            <h5 class="mr-2" th:text="${hozzaszolas.getFelhasznalo().getEmail()}"></h5>
                        </div>
                        <div class="comment-text-sm" th:text="${hozzaszolas.getHozzaszolasSzoveg()}"><span>Szép lett a kép papa.</span>
                        </div>
                        <div th:if="${hozzaszolas.getForumHozzaszolasChild() != null}">
                            <div th:each="valasz: ${hozzaszolas.getForumHozzaszolasChild()}">
                                <div class="comment-text-sm"
                                     th:text="${valasz.getFelhasznalo().getEmail()} + ' ' + ${valasz.getHozzaszolasSzoveg()}"></div>
                            </div>

                        </div>
                        <div class="reply-section">
                            <div class="d-flex flex-row align-items-center voting-icons">
                                <h6 class="ml-2 mt-1"><a
                                        th:href="@{/bejegyzes/{id}(id=${bejegyzes.getId()},hozzaszolasid=${hozzaszolas.getId()},hozzaszolasfelhasznalo=${hozzaszolas.getFelhasznalo().getEmail()})}">Reply</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</body>
</html>