<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<header th:insert="fragments.html :: nav"></header>
<body>
<div class="container mt-5 mb-5">
    <div class="text-center">
        <img style="filter: drop-shadow(1px 0px 3px #333);
            max-height: 40vh;
            max-width: 60vw;
            margin-top: 5vh;"
             th:src="@{/kep/{id}(id=${bejegyzes.getId()})}" class="rounded">
    </div>
    <form style="padding-left: 14vw; padding-top: 3vh" action="" class="form-inline"
          th:action="@{/bejegyzes/{id}(id=${bejegyzes.getId()})}" th:method="get">
        <select aria-label="Default select example" id="test" th:name="ertekeles">
            <option th:each="i : ${#numbers.sequence(1, 5)}" th:value="${i}" th:text="${i}"
                    th:selected="${ertekeles.equals(i)}"></option>
        </select>
        <button type="submit" class="btn btn-primary">Értékelem</button>
    </form>


    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
            <div class="coment-bottom bg-white p-2 px-4">
                <form action="#"
                      method="post"
                      th:action="@{/bejegyzes/{id}(id=${bejegyzes.getId()})}"
                      th:object="${hozzaszolas}"
                      th:if="${(param.hozzaszolasid == null) || (param.hozzaszolasfelhasznalo == null)}"
                >
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                        <input type="text" class="form-control mr-3" placeholder="Add comment"
                               th:field="*{hozzaszolasSzoveg}">
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </div>
                </form>
                <form action="#"
                      method="post"
                      th:action="@{/bejegyzes/{id}(id=${bejegyzes.getId()},hozzaszolasid=${param.hozzaszolasid})}"
                      th:object="${hozzaszolas}"
                      th:if="${(param.hozzaszolasid != null) && (param.hozzaszolasfelhasznalo != null)}"
                >
                    <div th:if="param.hozzaszolasfelhasznalo!=null">
                        <div th:text="'Válaszolás ' + ${param.hozzaszolasfelhasznalo} + '-nak'"></div>
                    </div>
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4">

                        <input type="text" class="form-control mr-3" placeholder="Írj hozzászólást..."
                               th:placeholder="'Válaszolás ' + ${param.hozzaszolasfelhasznalo} + '-nak'"
                               th:field="*{hozzaszolasSzoveg}">
                        <button class="btn btn-primary" type="submit">Elküld</button>
                    </div>
                </form>


                <div th:each="hozzaszolas: ${bejegyzes.getForumHozzaszolasList()}">
                    <div th:if="${hozzaszolas.getForumHozzaszolasParent() == null}">
                        <div class="commented-section mt-2">
                            <div class="d-flex flex-row align-items-center commented-user">
                                <h5 class="mr-2"
                                    th:text="${hozzaszolas.getFelhasznalo().getEmail() } "></h5>
                                <h5 style="padding-left: 50px"
                                    th:text="${hozzaszolas.getDatum()} "></h5>
                            </div>
                            <div class="comment-text-sm" th:text="${hozzaszolas.getHozzaszolasSzoveg()}"><span>Szép lett a kép papa.</span>
                            </div>
                            <div th:if="${hozzaszolas.getForumHozzaszolasChild() != null}">
                                <br>
                                <div style="padding-left: 20px"
                                     th:each="valasz: ${hozzaszolas.getForumHozzaszolasChild()}">
                                    <div class="comment-text-sm"
                                         th:text="${valasz.getFelhasznalo().getEmail()} + ': ' + ${valasz.getHozzaszolasSzoveg()}"></div>
                                </div>

                            </div>
                            <div class="reply-section">
                                <div class="d-flex flex-row align-items-center voting-icons">
                                    <h6 style=" margin-left: auto; margin-right: 0;"><a
                                            th:href="@{/bejegyzes/{id}(id=${bejegyzes.getId()},hozzaszolasid=${hozzaszolas.getId()},hozzaszolasfelhasznalo=${hozzaszolas.getFelhasznalo().getEmail()})}">Válasz</a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>