<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <title>Fénykép albumok</title>
    <meta charset="UTF-8"/>
<!--    <link rel="stylesheet" th:href="@{~/bootstrap.min.css}">-->
<!--    <link rel="stylesheet" th:href="@{~/fontawesome/css/all.css}">-->
<!--    <link rel="stylesheet" th:href="@{~/goole.fonts.css}">-->
<!--    <link rel="stylesheet" th:href="@{~/mdb.min.css}">-->

    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href = "@{/css/bootstrap-grid.min.css}" rel="stylesheet">


    <link th:href="@{~/lightyboxy.css}" rel="stylesheet">
    <style>
        .logo {
            width: 355px;
            height: 250px;
        }
    </style>
</head>

</body>
</html>