<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">

</head>
<body>
<header th:insert="fragments.html :: nav"></header>


<!-- Modal -->
<div th:each="kep:${kepek}">
<div class="modal fade" th:id="${kep.getId()}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick='console.log("Makkan buzi");' >Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>


<div class="card mx-auto" style="width: 45rem;margin-bottom: 42px " th:each="kep:${kepek}" >
    <div class="card-header">
        <div style="padding: 0px 1px 15px 0px" >
            <p style="display: inline" th:text="${'@'+kep.getFelhasznalo().getEmail()}"></p>

          <button th:id="${kep.getId()}"
                    class="mdl-button mdl-js-button mdl-button--icon" style="float: right">
                <i class="fa fa-ellipsis-v"></i>
            </button>

            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                th:for="${kep.getId()}">
                <li class="mdl-menu__item" data-bs-toggle="modal" th:attr="data-bs-target='#'+${kep.getId()}" >Report!</li>

            </ul>


        </div>
        <div style="background-color:yellow; border-radius:5px;vertical-align: baseline;display: inline-block;color:black;padding: 2px 7px;"><b th:text="${kep.getKategoria().getLeiras()}"></b></div>
    </div>
    <img class="card-img-top" th:src="@{/kep/{id}/{fileName}(fileName=${kep.getFileName()},id=${kep.getId()})}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">[Kép címe]</h5>
        <p class="card-text" >[Leírás a képről max 200 karakterben!]</p>

        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="#" class="btn btn-primary btn-primary disabled shadow-none" th:text="${kep.getErtekeles().getErtekeles()}"></a>
            <a href="#" class="btn btn-outline-primary disabled shadow-none"><i class="fa fa-star"></i></a>
        </div>
    </div>
</div>

<table border="1">
    <thead>
    <tr>
        <th>fasz</th>
        <th>gc</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kep, iStat : ${kepek.getContent()}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${kep.getKategoria()}"/>
        <td th:text="${kep.getId()}"/>
    </tr>
    </tbody>
</table>
<div th:if="${kepek.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/list/kep(size=${kepek.size}, page=${pageNumber})}"
       th:text="${pageNumber}"
       th:class="${pageNumber==kepek.number + 1} ? active"></a>
</div>
</body>
</html>