<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles"></head>
<header th:insert="fragments.html :: nav"></header>
<body>
<div th:if="${param.success}">
    <div class="alert alert-info">
        Sikeres regisztráció!
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Bejelentkezés:</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Helytelen felhasználónév vagy jelszó!
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input type="text"
                           id="username"
                           name="username"
                           class="form-control"
                           autofocus="autofocus"
                           placeholder="Username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control"
                           placeholder="Password"/>
                </div>
                <br>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info"
                                   value="Log In"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <span>Új vagy itt? <a href="/" th:href="@{/registration}">Regisztrálj itt</a></span>
                </div>
            </form>
        </div>
    </div>


</div>
</body>
</html>