<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">

</head>
<body>
<header th:insert="fragments.html :: nav"></header>

<form action="" class="form-inline" th:action="@{/varosokarcai/}" th:method="get" name="elado">
<select class="form-select" aria-label="Default select example" id="test" th:name="varos">
  <option th:each="i : ${varosok}" th:value="${i.getMegnevezes()}" th:text="${i.getMegnevezes()}">
  </option>
</select>
<button type="submit" class="btn btn-primary">Primary</button>
</form>

<div th:if="${kepek != null}" >

  <div class="card mx-auto" style="width: 45rem;margin-bottom: 42px " th:each="kep:${kepek}" >
    <div class="card-header">
      <div style="padding: 0px 1px 15px 0px" >
        <p style="display: inline" th:text="${'@'+kep.getFelhasznalo().getEmail()}"></p>

        <button th:id="${kep.getId()}"
                class="mdl-button mdl-js-button mdl-button--icon" style="float: right">
          <i class="fa fa-ellipsis-v"></i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
            th:for="${kep.getId()}">
          <!--                <form th:if="${kep.getFelhasznalo().getEmail()!=ezafelhasznalo.getEmail()}">-->
          <li th:if="${kep.getFelhasznalo().getEmail()!=#authentication.getPrincipal().getUsername()}" class="mdl-menu__item" data-bs-toggle="modal" th:attr="data-bs-target='#asd'+${kep.getId()}" >Report!</li>
          <li th:unless="${kep.getFelhasznalo().getEmail()!=#authentication.getPrincipal().getUsername()}" class="mdl-menu__item" data-bs-toggle="modal" th:attr="data-bs-target='#asd'+${kep.getId()}" >Kitörlés</li>
        </ul>
      </div>
      <div style="background-color:yellow; border-radius:5px;vertical-align: baseline;display: inline-block;color:black;padding: 2px 7px;"><b th:text="${kep.getKategoria().getLeiras()}"></b></div>
    </div>
    <img class="card-img-top" th:src="@{/kep/{id}(id=${kep.getId()})}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">[Kép címe]</h5>
      <p class="card-text" >[Leírás a képről max 200 karakterben!]</p>

      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="#" class="btn btn-primary btn-primary disabled shadow-none" th:text="${kep.getErtekeles().getErtekeles()}"></a>
        <a href="#" class="btn btn-outline-primary disabled shadow-none"><i class="fa fa-star"></i></a>
        <a th:href="@{/bejegyzes/{id}(id=${kep.getId()})}" class="btn btn-outline-primary shadow-none">Kommentek és értékelés</a>
      </div>
    </div>
  </div>

</div>
</body>
</html>